:root{
--tab-block-margin: 0px 0px !important;
}

* {
border-radius: 0px !important;
}

.search-one-offs {
display: none !important;
}

.urlbarView-row-inner {
padding-inline: var(--urlbarView-item-inline-padding);
padding-block: 2px !important;
}
